body {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 80vh;
    background-color: black; /* Set background color to black */
    color: #00ff00; /* Set text color to green */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.typing-container {
    border-right: 2px solid #00ff00; /* Cursor color green */
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    display: inline-block;
    position: relative;
}

#typed-text {
    display: inline;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 24px; /* Should match font-size for better alignment */
    background-color: #00ff00; /* Cursor color green */
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
